<adminlte-header></adminlte-header>
<adminlte-sidebar-left section="'admin'"></adminlte-sidebar-left>
<adminlte-content-wrapper breadcrumbs="$ctrl.breadcrumbs">
    <adminlte-list data="$ctrl.data"
                   config="$ctrl.config"
                   params="$ctrl.params"
                   load="$ctrl.load"
                   list-checked="$ctrl.listChecked"
                   list-opened="$ctrl.listOpened">
        <list-body>
            <div class="row">
                <adminlte-list-item
                        color="model.color"
                        ng-repeat="model in $ctrl.data.data"
                        model="model"
                        list-checked="$ctrl.listChecked"
                        list-opened="$ctrl.listOpened">
                    <item-header>
                        <blockquote>
                            <div class="row">
                                <div class="col col-lg-4">
                                    <p>{{model.comment}}</p>
                                    <small><strong>{{model.name}}</strong>,
                                        e-mail: {{model.email}},
                                        <br>
                                        {{model.phone_ext}},
                                        IP: {{model.ip}}, добавлена: {{model.created_at}}
                                    </small>
                                </div>
                                <div class="col col-lg-8" ng-if="model.files.length">
                                    <h4>Прикрепленные файлы:</h4>

                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="file in model.files">
                                            <span>
                                                <i class="fa fa-download"></i>&nbsp;<a ng-href="{{file.full_url}}" target="_blank">{{file.name}}</a>
                                            </span> &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>

                        <div class="btn-group">
                            <button class="btn"
                                    ng-click="$ctrl.setState(model,-1)"
                                    ng-class="{'btn-default':-1!=model.state,'btn-warning':-1==model.state}">
                                <i class="fa fa-trash"></i>
                                в мусорку
                            </button>
                            <button class="btn"
                                    ng-click="$ctrl.setState(model,0)"
                                    ng-class="{'btn-default':0!=model.state,'btn-info':0==model.state}">
                                <i class="fa fa-plus"></i>
                                неразобранное
                            </button>
                            <button class="btn"
                                    ng-click="$ctrl.setState(model,1)"
                                    ng-class="{'btn-default':1!=model.state,'btn-danger':1==model.state}">
                                <i class="fa fa-thumbs-o-down"></i>
                                жалоба
                            </button>
                            <button class="btn"
                                    ng-click="$ctrl.setState(model,2)"
                                    ng-class="{'btn-default':2!=model.state,'btn-success':2==model.state}">
                                <i class="fa fa-thumbs-o-up"></i>
                                благодарность
                            </button>
                            <button class="btn"
                                    ng-click="$ctrl.setState(model,3)"
                                    ng-class="{'btn-default':3!=model.state,'btn-primary':3==model.state}">
                                <i class="fa fa-star"></i>
                                предложение/заказ
                            </button>
                        </div>
                    </item-header>
                    <item-buttons>
                        <div class="btn-group-vertical">
                            <span class="btn btn-primary btn-xs" title="Редактировать город" ng-click="$ctrl.actionEdit(model)">
                                <i class="fa fa-pencil"></i>
                            </span>
                            <span class="btn btn-danger btn-xs" title="Удалить город" ng-click="$ctrl.actionRemove(model)">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </item-buttons>
                </adminlte-list-item>
            </div>
        </list-body>
    </adminlte-list>
</adminlte-content-wrapper>
<adminlte-footer></adminlte-footer>

<adminlte-sidebar-right>
    <adminlte-list-filter params="$ctrl.params" load="$ctrl.load" filters="$ctrl.config.filters"></adminlte-list-filter>
</adminlte-sidebar-right>